force-app/main/default/flows/Approve_Purchase_Orders.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <description>Adds the Purchase Order that was just marked as Approved to a collection of Approved Purchase Orders.</description>
        <name>AddApprovedPOtoCollection</name>
        <label>Add Approved PO to Collection</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>ApprovedPurchaseOrders</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SelectedPurchaseOrderLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SelectedPurchaseOrderLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Marks the Purchase Order as approved and records the approving user.</description>
        <name>MarkPurchaseOrderApproved</name>
        <label>Mark Purchase Order as Approved</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>SelectedPurchaseOrderLoop.Approved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedPurchaseOrderLoop.Approved_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddApprovedPOtoCollection</targetReference>
        </connector>
    </assignments>
    <description>Allows a Purchasing Manager to approve Purchase Orders.</description>
    <environments>Default</environments>
    <interviewLabel>Approve Purchase Orders {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Approve Purchase Orders</label>
    <loops>
        <description>Loops over the Purchase Orders that were selected for approval.</description>
        <name>SelectedPurchaseOrderLoop</name>
        <label>Loop Over Selected Purchase Orders</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <collectionReference>SelectedPurchaseOrders.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>MarkPurchaseOrderApproved</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateApprovedPurchaseOrders</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Returns all unapproved Purchase Orders.</description>
        <name>UnapprovedPurchaseOrders</name>
        <label>Get Unapproved Purchase Orders</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SelectPurchaseOrdersForApproval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Approved__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Purchase_Order__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Total_Cost__c</queriedFields>
        <queriedFields>Approved__c</queriedFields>
        <queriedFields>Approved_By__c</queriedFields>
        <queriedFields>Vendor_Name__c</queriedFields>
        <queriedFields>Description__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Performs a database update to all Purchase Orders that were marked as approved.</description>
        <name>UpdateApprovedPurchaseOrders</name>
        <label>Update Approved Purchase Orders</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>DisplayUpdatedPurchaseRecords</targetReference>
        </connector>
        <inputReference>SelectedPurchaseOrders.selectedRows</inputReference>
    </recordUpdates>
    <screens>
        <description>Display the collection of selected Purchase Orders and ask the user to confirm that these are the Purchase Orders they wish to approve.</description>
        <name>ConfirmApprovalOfSelectedPurchaseOrders</name>
        <label>Confirm Approval of Selected Purchase Orders</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Modify Selection</backButtonLabel>
        <connector>
            <targetReference>SelectedPurchaseOrderLoop</targetReference>
        </connector>
        <fields>
            <name>ConfirmedPurchaseOrders</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Purchase_Order__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Approve These Purchase Orders?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>SelectedPurchaseOrders.selectedRows</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-d59d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;PO Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;my_ns_prefix__Vendor_Name__c&quot;,&quot;guid&quot;:&quot;column-ec98&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Vendor&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Vendor Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;my_ns_prefix__Description__c&quot;,&quot;guid&quot;:&quot;column-1009&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Description&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;my_ns_prefix__Total_Cost__c&quot;,&quot;guid&quot;:&quot;column-3d74&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Total Cost&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Approve Purchase Orders</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Display the collection of Purchase Order records that were just updated as Approved.</description>
        <name>DisplayUpdatedPurchaseRecords</name>
        <label>Display Updated Purchase Records</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>UpdatedPurchaseOrders</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Purchase_Order__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Approved Purchase Orders</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>ApprovedPurchaseOrders</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-b842&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;PO Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;my_ns_prefix__Vendor_Name__c&quot;,&quot;guid&quot;:&quot;column-5a77&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Vendor&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Vendor Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;my_ns_prefix__Description__c&quot;,&quot;guid&quot;:&quot;column-c7f4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Description&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;my_ns_prefix__Total_Cost__c&quot;,&quot;guid&quot;:&quot;column-4215&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Total Cost&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;my_ns_prefix__Approved__c&quot;,&quot;guid&quot;:&quot;column-d03c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Approved&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Displays a list of all unapproved Purchase Orders and requires the user to select specific records for approval.</description>
        <name>SelectPurchaseOrdersForApproval</name>
        <label>Select Purchase Orders for Approval</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ConfirmApprovalOfSelectedPurchaseOrders</targetReference>
        </connector>
        <fields>
            <name>SelectedPurchaseOrders</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Purchase_Order__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Purchase Orders for Approval</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>UnapprovedPurchaseOrders</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-24cc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;PO Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;my_ns_prefix__Vendor_Name__c&quot;,&quot;guid&quot;:&quot;column-6375&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Vendor&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Vendor Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;my_ns_prefix__Description__c&quot;,&quot;guid&quot;:&quot;column-ae4b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Description&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;my_ns_prefix__Total_Cost__c&quot;,&quot;guid&quot;:&quot;column-7786&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Total Cost&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <helpText>&lt;p&gt;Select the Purchase Orders that you would like to approve.  You can approve multiple Purchase Orders but must select at least one to continue to the next step.&lt;/p&gt;</helpText>
        <nextOrFinishButtonLabel>Select for Approval</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UnapprovedPurchaseOrders</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Collection containing approved Purchase Orders.</description>
        <name>ApprovedPurchaseOrders</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Purchase_Order__c</objectType>
    </variables>
</Flow>
